/* /////////////////////// */
/* GENERAL */
/* /////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 0px auto;
}

.bold-text {
  font-weight: bold;
  text-transform: uppercase;
}

/* /////////////////////// */
/* HEADER */
/* /////////////////////// */

header {
  padding: 20px;
  background-color: #e03131;
  height: 100px;
  color: white;
}

.nav-link {
  text-decoration: none;
  padding: 5px;
  color: white;
}

.nav-link:hover {
  color: black;
}
